.container {
  min-height: 100vh;
  background: linear-gradient(to right top, #9fecde, #86dfec);
  display: flex;
  .contentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px 50px;
    overflow-x: auto;
    // padding-bottom: 20px;
    .covidHeader {
      color: #e77070;
      position: sticky;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      .lastUpdated {
        display: flex;
        align-items: center;
        .lastUpdatedIcon {
          margin-right: 5px;
        }
      }
    }
    .totalDataWrapper {
      display: flex;
      justify-content: space-between;
      position: sticky;
      left: 0;
      animation-name: fade;
      animation-duration: 0.5s;
      .total {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        .today {
          display: flex;
          align-items: center;
          font-size: 12px;
          .arrowIcon {
            height: unset;
            width: unset;
            font-size: unset;
          }
        }
        .totalCount {
          font-size: 16px;
        }
      }
      .total.confirmed {
        color: #e86b6b;
      }
      .total.active {
        color: #978bee;
      }
      .total.recovered {
        color: #4fb64f;
      }
      .total.deaths {
        color: #636d63;
      }
    }
    .vaccinationWrapper {
      position: sticky;
      left: 0;
      animation-name: fade;
      animation-duration: 0.5s;
      animation-delay: 0.5s;
      -webkit-animation-name: fade;
      -webkit-animation-duration: 0.5s;
      -webkit-animation-delay: 0.5s;
      animation-fill-mode: both;
      .vaccination1Legend {
        // display: flex;
        .vaccinationLabelWrapper {
          display: flex;
        }
      }
      .vaccination2Legend {
        // display: flex;
        margin-bottom: 10px;
        .vaccinationLabelWrapper {
          display: flex;
        }
      }
      .progressBar {
        display: flex;
        position: relative;
        background: aliceblue;
        height: 25px;
        background: #edc0c0;
        position: sticky;
        left: 0;
        border-radius: 5px;
        .progressBarValueVaccination1 {
          height: 100%;
          position: absolute;
          display: flex;
          border-radius: 5px;
          .progressAnimation {
            background: #e2aaaae6;
            background-image: linear-gradient(
              210deg,
              #e7868670 25%,
              transparent 80%,
              transparent 50%,
              #fca311 70%,
              #fca311 75%,
              transparent 75%,
              transparent
            );
            -webkit-animation: progressBar 1s ease-in-out;
            -moz-animation: progressBar 1s ease-in-out;
            animation: progressBar 1s ease-in-out;
            animation-fill-mode: both;
            -webkit-animation-fill-mode: both;
            -moz-animation-fill-mode: both;
            border-radius: 5px;
          }
        }
        .progressBarValueVaccination2 {
          position: absolute;
          height: 100%;
          display: flex;
          border-radius: 5px;
          .progressAnimation {
            background: #fd808099;
            background-image: linear-gradient(
              210deg,
              #e0515182 25%,
              transparent 80%,
              transparent 50%,
              #fca311 70%,
              #ff6c6cf2 75%,
              transparent 75%,
              transparent
            );
            -webkit-animation: progressBar 1s ease-in-out;
            -moz-animation: progressBar 1s ease-in-out;
            animation: progressBar 1s ease-in-out;
            animation-fill-mode: both;
            -webkit-animation-fill-mode: both;
            -moz-animation-fill-mode: both;
            border-radius: 5px;
          }
        }
      }
    }
    .stateDataWrapper {
      width: 100%;
      z-index: 2;
      min-width: 600px;
      animation-name: fade;
      animation-duration: 0.5s;
      animation-delay: 1s;
      animation-fill-mode: both;
      .stateWrapper {
        cursor: pointer;
      }
      .lastUpdated {
        display: flex;
        align-items: center;
        color: #e86b6b;
        height: 40px;
        position: sticky;
        left: 0;
        width: fit-content;
        .lastUpdatedIcon {
          margin-right: 5px;
        }
      }
      .stateWrapper,
      .stateHeaderWrapper,
      .districtHeaderWrapper,
      .districtWrapper {
        display: flex;
        margin-bottom: 10px;
        .name {
          width: 25%;
          position: sticky;
          left: 0;
          background: #a6eff4;
          display: flex;
          z-index: 1;
          align-items: center;
          padding-left: 10px;
        }
        .name,
        .active,
        .recovered,
        .deaths,
        .confirmed {
          border-radius: 5px;
          min-height: 48px;
          word-break: break-word;
        }
        .name,
        .active,
        .recovered,
        .confirmed {
          margin-right: 10px;
        }
        .active,
        .recovered,
        .deaths,
        .confirmed {
          background: rgb(255 255 255 / 50%);
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
          padding-right: 10px;
          .confirmedRed {
            display: flex;
            color: #e86b6b;
          }
          .arrowIcon {
            font-size: 18px;
            height: unset;
            width: unset;
          }
          .recoveredGreen {
            display: flex;
            color: #4fb64f;
          }
          .deathsGrey {
            display: flex;
            color: #636d63;
          }
        }
        .active,
        .deaths {
          width: 16.5%;
        }
        .confirmed,
        .recovered {
          width: 21%;
        }
        .header {
          background: #a6f4d1;
        }
      }
      .end {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: fit-content;
        position: sticky;
        left: 0;
        color: #e86b6b;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .container {
    .contentWrapper {
      margin: 15px;
      mat-card {
        padding: 5px;
      }
      .totalDataWrapper {
        .total {
          .totalCount {
            font-size: 14px;
          }
        }
      }
    }
  }
}
div {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
// ::ng-deep .mat-sort-header-arrow[style] {

//   // Hide default arrow stem
//   .mat-sort-header-stem {
//     display: none;
//   }
//   .mat-sort-header-indicator {
//     opacity: 1;
//     color: black;
//     font-weight: bold;

//     // Hide default arrow as its composed of left, right and middle
//     .mat-sort-header-pointer-left, .mat-sort-header-pointer-right, .mat-sort-header-pointer-middle  {
//       display: none;
//     }
//   }
// }
// .animation {
//   // animation: animate 3s ease-in-out;
// }
@keyframes example {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes vaccinationOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
// @keyframes animate {
//   from {opacity:0;}
//   to {opacity: 1;}
// }
// @property --n {
//   syntax: "<integer>";
//   initial-value: 0;
//   inherits: false;
// }

// .totalCount {
//   animation: animate var(--duration) forwards var(--timing, linear);
//   counter-reset: num var(--n);

// }
// .totalCount::before {
//   content: counter(num);
// }

// @keyframes animate {
//   from {
//     --n: var(--from);
//   }
//   to {
//     --n: var(--to);
//   }
// }
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
// ::-webkit-scrollbar-thumb {
//   background: #ff0000;
// }
