<!-- <div class="container">
  <div class="contentWrapper">
    <div class="covidHeader">
      <h2>COVID INDIA</h2>
    </div>
    <div class="stateDataWrapper" *ngIf="!isLoading">
      <div class="stateHeaderWrapper" matSort #sort1="matSort" (matSortChange)="sortStateData($event)"
        matSortActive="stateConfirmed" matSortDirection="desc" matSortStart="desc">
        <div matRipple matRippleColor="#87ebac94" mat-sort-header="stateName" class="name header">State/UT</div>
        <div matRipple matRippleColor="#87ebac94" mat-sort-header="stateConfirmed" arrowPosition='before'
          class="confirmed header">Confirmed</div>
        <div matRipple matRippleColor="#87ebac94" mat-sort-header="stateActive" arrowPosition='before'
          class="active header">Active</div>
        <div matRipple matRippleColor="#87ebac94" mat-sort-header="stateRecovered" arrowPosition='before'
          class="recovered header">Recovered</div>
        <div matRipple matRippleColor="#87ebac94" mat-sort-header="stateDeaths" arrowPosition='before'
          class="deaths header">Deaths</div>
      </div>
      <ng-container class="stateData" *ngFor="let data of stateData;">
        <div class="stateWrapper" (click)="toggleDistricts(data.State_code)">
          <div class="name">{{data.State}}</div>
          <div class="confirmed">
            <div class="confirmedRed">
              <ng-container *ngIf="data.State | stateDailyIncrease : todaysStateData :
              'Confirmed' as count">
                <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{count}}
              </ng-container>
            </div>
            <div class="confirmedNumber" #animatedDigit>{{data.Confirmed}}</div>
          </div>
          <div class="active"> {{data.Active}}</div>
          <div class="recovered">
            <div class="recoveredGreen">
              <ng-container *ngIf="data.State | stateDailyIncrease : todaysStateData :
              'Recovered' as count">
                <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{count}}
              </ng-container>
            </div>
            <div class="recoveredNumber">{{data.Recovered}}</div>
          </div>
          <div class="deaths">
            <div class="deathsGrey">
              <ng-container *ngIf="data.State | stateDailyIncrease : todaysStateData :
              'Deaths' as count">
                <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{count}}
              </ng-container>
            </div>
            <div class="deathsNumber">{{data.Deaths}}</div>
          </div>
        </div>
        <div class="animation">
          <div class="districtDataWrapper" [hidden]="!hideme[data.State_code]" matSort #sort2="matSort"
            (matSortChange)="sortDistrictData($event,data.State_code)" matSortActive="districtConfirmed"
            matSortDirection="desc" matSortStart="desc">
            <div class="districtHeaderWrapper">
              <div matRipple matRippleColor="#87ebac94" mat-sort-header="districtName" class="name header">District
              </div>
              <div matRipple matRippleColor="#87ebac94" mat-sort-header="districtConfirmed" arrowPosition='before'
                class="confirmed header">Confirmed</div>
              <div matRipple matRippleColor="#87ebac94" mat-sort-header="districtActive" arrowPosition='before'
                class="active header">Active</div>
              <div matRipple matRippleColor="#87ebac94" mat-sort-header="districtRecovered" arrowPosition='before'
                class="recovered header">Recovered</div>
              <div matRipple matRippleColor="#87ebac94" mat-sort-header="districtDeceased" arrowPosition='before'
                class="deaths header">Deaths</div>
            </div>
            <div class="districtWrapper" *ngFor="let districtdata of data.District">
              <div class="name">{{districtdata.District}}</div>
              <div class="confirmed">
                <div class="confirmedRed">
                  <ng-container
                    *ngIf="districtdata.District | districtDailyIncrease:todaysDistrictData :'Confirmed' as count">
                    <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{count}}
                  </ng-container>
                </div>
                <div class="confirmedNumber">{{districtdata.Confirmed}}</div>
              </div>
              <div class="active">{{districtdata.Active}}</div>
              <div class="recovered">
                <div class="recoveredGreen">
                  <ng-container
                    *ngIf="districtdata.District | districtDailyIncrease :todaysDistrictData :'Recovered' as count">
                    <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{count}}
                  </ng-container>
                </div>
                <div class="recoveredNumber">{{districtdata.Recovered}}</div>
              </div>
              <div class="deaths">
                <div class="deathsGrey">
                  <ng-container
                    *ngIf="districtdata.District | districtDailyIncrease :todaysDistrictData :'Deaths' as count">
                    <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{count}}
                  </ng-container>
                </div>
                <div class="deathsNumber">{{districtdata.Deceased}}</div>
              </div>
            </div>
            <div class="end">End of {{data.State}} <mat-icon class="arrowIcon" (click)="closeDistricts()">arrow_upward
              </mat-icon>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="contentWrapper">
    <ng-container *ngIf="!isLoading">
      <div class="covidHeader">
        <div style="font-size: 24px;">INDIA</div>
        <div class="lastUpdated">
          <mat-icon class="lastUpdatedIcon">av_timer</mat-icon>{{indiaData[0].value.meta.last_updated | lastUpdated}}
        </div>
      </div>
      <div class="totalDataWrapper">
        <mat-card class="total confirmed">
          <div>Confirmed</div>
          <div class="today confirmed">
            <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{indiaData[0].value.delta.confirmed|numberFormat}}
          </div>
          <div class="totalCount">{{indiaData[0].value.total.confirmed|numberFormat}}</div>
        </mat-card>
        <mat-card class="total active">Active
          <div class="totalCount">{{(indiaData[0].value.total.confirmed - indiaData[0].value.total.recovered)|numberFormat}}</div>
        </mat-card>
        <mat-card class="total recovered">Recovered
          <div class="today recovered">
            <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{indiaData[0].value.delta.recovered|numberFormat}}
          </div>
          <div class="totalCount">{{indiaData[0].value.total.recovered|numberFormat}}</div>
        </mat-card>
        <mat-card class="total deaths">Deaths
          <div class="today deaths">
            <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{indiaData[0].value.delta.deceased|numberFormat}}
          </div>
          <div class="totalCount">{{indiaData[0].value.total.deceased|numberFormat}}</div>
        </mat-card>
      </div>
      <div class="vaccinationWrapper">
        <div class="vaccination1Legend">
          <div class="vaccinationLabelWrapper">
            <div [ngStyle]="{'width' : 'calc(' + (indiaData | vaccinationCount : 'vaccination1') + ' - 3rem)'}"></div>
            <div class="vaccination1Label">At least one dose {{indiaData | vaccinationCount : 'vaccination1'}}</div>
          </div>
          <div [ngStyle]="{'margin-left' : indiaData | vaccinationCount : 'vaccination1'}">|</div>
        </div>
        <div class="progressBar">
          <span class="progressBarValueVaccination1"
            [ngStyle]="{'width' : indiaData | vaccinationCount : 'vaccination1'}">
            <span class="progressAnimation"></span>
          </span>
          <span class="progressBarValueVaccination2"
            [ngStyle]="{'width' : indiaData | vaccinationCount : 'vaccination2'}">
            <span class="progressAnimation"></span>
          </span>
        </div>
        <div class="vaccination2Legend">
          <div [ngStyle]="{'margin-left' : indiaData | vaccinationCount : 'vaccination2'}">|</div>
          <div class="vaccinationLabelWrapper">
            <div [ngStyle]="{'width' : 'calc(' + (indiaData | vaccinationCount : 'vaccination2') + ' - 3rem)'}"></div>
            <div class="vaccination2Label">Fully Vaccinated {{indiaData | vaccinationCount : 'vaccination2'}}</div>
          </div>
        </div>
      </div>
      <div class="stateDataWrapper">
        <div class="stateHeaderWrapper" matSort #sort1="matSort" (matSortChange)="sortStateData($event)"
          matSortActive="stateConfirmed" matSortDirection="desc" matSortStart="desc">
          <div matRipple matRippleColor="#87ebac94" mat-sort-header="stateName" class="name header" disableClear>
            State/UT
          </div>
          <div matRipple matRippleColor="#87ebac94" mat-sort-header="stateConfirmed" arrowPosition='before'
            class="confirmed header" disableClear>Confirmed</div>
          <div matRipple matRippleColor="#87ebac94" mat-sort-header="stateActive" arrowPosition='before'
            class="active header" disableClear>Active</div>
          <div matRipple matRippleColor="#87ebac94" mat-sort-header="stateRecovered" arrowPosition='before'
            class="recovered header" disableClear>Recovered</div>
          <div matRipple matRippleColor="#87ebac94" mat-sort-header="stateDeaths" arrowPosition='before'
            class="deaths header" disableClear>Deaths</div>
        </div>
        <ng-container *ngFor="let data of stateData; let i=index">
          <div class="stateWrapper" (click)="toggleDistricts(data.state)">
            <div class="name">{{data.state}}</div>
            <div class="confirmed">
              <div class="confirmedRed">
                <ng-container *ngIf="data.value.delta?.confirmed">
                  <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{data.value.delta?.confirmed |numberFormat}}
                </ng-container>
              </div>
              <div class="confirmedNumber" #animatedDigit>{{data.value.total?.confirmed |numberFormat}}</div>
            </div>
            <div class="active"> {{data.value.total.confirmed - data.value.total.recovered |numberFormat}}</div>
            <div class="recovered">
              <div class="recoveredGreen">
                <ng-container *ngIf="data.value.delta?.recovered">
                  <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{data.value.delta?.recovered |numberFormat}}
                </ng-container>
              </div>
              <div class="recoveredNumber">{{data.value.total.recovered |numberFormat}}</div>
            </div>
            <div class="deaths">
              <div class="deathsGrey">
                <ng-container *ngIf="data.value.delta?.deceased">
                  <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{data.value.delta?.deceased |numberFormat}}
                </ng-container>
              </div>
              <div class="deathsNumber">{{data.value.total?.deceased |numberFormat}}</div>
            </div>
          </div>
          <div class="districtDataWrapper" [hidden]="!hideDistricts[data.state]" matSort #sort2="matSort"
            (matSortChange)="sortDistrictData($event,data.state)" matSortActive="districtConfirmed"
            matSortDirection="desc" matSortStart="desc">
            <!-- {{data.state}} details<mat-icon>more_horiz</mat-icon> -->
            <div class="lastUpdated">
              <mat-icon class="lastUpdatedIcon">av_timer</mat-icon>{{data.value.meta.last_updated | lastUpdated}}
            </div>
            <div class="districtHeaderWrapper">
              <div matRipple matRippleColor="#87ebac94" mat-sort-header="districtName" class="name header" disableClear>
                District
              </div>
              <div matRipple matRippleColor="#87ebac94" mat-sort-header="districtConfirmed" arrowPosition='before'
                class="confirmed header" disableClear>Confirmed</div>
              <div matRipple matRippleColor="#87ebac94" mat-sort-header="districtActive" arrowPosition='before'
                class="active header" disableClear>Active</div>
              <div matRipple matRippleColor="#87ebac94" mat-sort-header="districtRecovered" arrowPosition='before'
                class="recovered header" disableClear>Recovered</div>
              <div matRipple matRippleColor="#87ebac94" mat-sort-header="districtDeceased" arrowPosition='before'
                class="deaths header" disableClear>Deaths</div>
            </div>
            <div class="districtWrapper" *ngFor="let districtdata of data.value.dis">
              <div class="name">{{districtdata.district}}</div>
              <div class="confirmed">
                <ng-container *ngIf="districtdata.value.total?.confirmed">
                  <div class="confirmedRed">
                    <ng-container *ngIf="districtdata.value.delta?.confirmed">
                      <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{districtdata.value.delta?.confirmed |numberFormat}}
                    </ng-container>
                  </div>
                  <div class="confirmedNumber">{{districtdata.value.total?.confirmed |numberFormat}}</div>
                </ng-container>
                <ng-container *ngIf="!districtdata.value.total?.confirmed">
                  <div class="confirmedNumber">-</div>
                </ng-container>
              </div>
              <div class="active">
                <ng-container
                  *ngIf="districtdata.value.total?.confirmed - districtdata.value.total?.recovered as activeDistrict">
                  {{activeDistrict |numberFormat}}
                </ng-container>
                <ng-container *ngIf="!(districtdata.value.total?.confirmed - districtdata.value.total?.recovered)">
                  -
                </ng-container>
              </div>
              <div class="recovered">
                <ng-container *ngIf="districtdata.value.total?.recovered">
                  <div class="recoveredGreen">
                    <ng-container *ngIf="districtdata.value.delta?.recovered">
                      <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{districtdata.value.delta?.recovered |numberFormat}}
                    </ng-container>
                  </div>
                  <div class="recoveredNumber">{{districtdata.value.total?.recovered |numberFormat}}</div>
                </ng-container>
                <ng-container *ngIf="!districtdata.value.total?.recovered">
                  <div class="recoveredNumber">-</div>
                </ng-container>
              </div>
              <div class="deaths">
                <ng-container *ngIf="districtdata.value.total?.deceased">
                  <div class="deathsGrey">
                    <ng-container *ngIf="districtdata.value.delta?.deceased">
                      <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{districtdata.value.delta?.deceased |numberFormat}}
                    </ng-container>
                  </div>
                  <div class="deathsNumber">{{districtdata.value.total?.deceased |numberFormat}}</div>
                </ng-container>
                <ng-container *ngIf="!districtdata.value.total?.deceased">
                  <div class="deathsNumber">-</div>
                </ng-container>
              </div>
            </div>
            <div class="end">End of {{data.state}}</div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>