<div class="container">
  <div class="contentWrapper">
    <ng-container *ngIf="isLoading">
      <ngx-skeleton-loader class="headerSkeleton" animation="progress-dark" count="1" [theme]="{ 
      border: '1px solid white',
      height:'49px',
      background : '#c9f3f2'
    }" appearance="line"></ngx-skeleton-loader>
      <ngx-skeleton-loader class="testedSkeleton" animation="progress-dark" count="1" [theme]="{ 
      border: '1px solid white',
      height:'35px',
      background : '#c9f3f2'
    }" appearance="line"></ngx-skeleton-loader>
      <ngx-skeleton-loader class="cardsSkeleton" animation="progress-dark" count="4" [theme]="{ 
      'border-radius': '5px',
      height: '80px',
      width:'90px',
      background : '#c9f3f2',
      border: '1px solid white',
      margin:'unset'
    }" appearance="circle"></ngx-skeleton-loader>
      <ngx-skeleton-loader class="progressbarSkeleton" animation="progress-dark" count="1" [theme]="{ 
      border: '1px solid white',
      height:'100px',
      background : '#c9f3f2',
      'margin-top': '10px'
    }" appearance="line"></ngx-skeleton-loader>
      <div>
        <ngx-skeleton-loader class="TablesSkeleton" animation="progress-dark" count="30" [theme]="{ 
      border: '1px solid white',
      background : '#c9f3f2',
      height:'48px'
    }" appearance="line"></ngx-skeleton-loader>
      </div>
    </ng-container>
    <ng-container *ngIf="!isLoading">
      <div class="covidHeader">
        <div style="font-size: 40px;">INDIA</div>
        <div class="lastUpdated">
          <mat-icon class="lastUpdatedIcon">av_timer</mat-icon>{{lastUpdatedTime | lastUpdated}}
        </div>
        <div>
          <mat-form-field class="matForm" appearance="outline"  (ngModel)="selectedDate">
            <input matInput [min]="minDate" [max]="maxDate" (dateChange)="selectedDateChange( $event)" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="testedWrapper">
        <div class="population">
          <mat-icon class="populationIcon">person</mat-icon>Population : {{indiaData.meta.population | numberFormat}}
        </div>
        <div class="tested">
          <mat-icon class="testedIcon"> local_hospital</mat-icon>Tested : {{indiaData.total.tested|numberFormat}} as of
          {{indiaData.meta.tested.date}} <a class="source" target="blank" matRipple [matRippleUnbounded]=true
            [href]="indiaData.meta.tested.source"> Source</a>
        </div>
        <div class="vaccinated">
          <mat-icon class="vaccinatedIcon">verified_user</mat-icon>Vaccine doses administered :
          {{(indiaData.total.vaccinated1+indiaData.total.vaccinated2) | numberFormat}}
        </div>
      </div>
      <div class="totalDataWrapper">
        <mat-card class="total confirmed">
          <div>Confirmed</div>
          <div class="today confirmed">
            <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{indiaData.delta.confirmed | numberFormat}}
          </div>
          <div class="totalCount">{{indiaData.total.confirmed|numberFormat}}</div>
        </mat-card>
        <mat-card class="total active">Active
          <div class="totalCount">{{(indiaData.total.confirmed -
            indiaData.total.recovered)|numberFormat}}</div>
        </mat-card>
        <mat-card class="total recovered">Recovered
          <div class="today recovered">
            <mat-icon class="arrowIcon">arrow_upward</mat-icon>
            <div class="totalCount"
              style="--from: 100; --to:{{indiaData.delta.recovered }} ; --duration: 5s; --timing: ease">{{indiaData.delta.recovered | numberFormat }}
            </div>
          </div>
          <div class="totalCount">{{indiaData.total.recovered | numberFormat}}</div>
        </mat-card>
        <mat-card class="total deaths">Deaths
          <div class="today deaths">
            <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{indiaData.delta.deceased|numberFormat}}
          </div>
          <div class="totalCount">{{indiaData.total.deceased|numberFormat}}</div>
        </mat-card>
      </div>
      <div class="vaccinationWrapper">
        <div class="vaccination1Legend">
          <div class="vaccinationLabelWrapper">
            <div [ngStyle]="{'width' : 'calc(' + (indiaData | vaccinationCount : 'vaccination1') + ' - 3rem)'}"></div>
            <div class="vaccination1Label">At least one dose {{indiaData | vaccinationCount : 'vaccination1'}}</div>
          </div>
          <div [ngStyle]="{'margin-left' : indiaData | vaccinationCount : 'vaccination1'}">|</div>
        </div>
        <div class="progressBar">
          <span class="progressBarValueVaccination1"
            [ngStyle]="{'width' : indiaData | vaccinationCount : 'vaccination1'}">
            <span class="progressAnimation"></span>
          </span>
          <span class="progressBarValueVaccination2"
            [ngStyle]="{'width' : indiaData | vaccinationCount : 'vaccination2'}">
            <span class="progressAnimation"></span>
          </span>
        </div>
        <div class="vaccination2Legend">
          <div [ngStyle]="{'margin-left' : indiaData | vaccinationCount : 'vaccination2'}">|</div>
          <div class="vaccinationLabelWrapper">
            <div [ngStyle]="{'width' : 'calc(' + (indiaData | vaccinationCount : 'vaccination2') + ' - 3rem)'}"></div>
            <div class="vaccination2Label">Fully Vaccinated {{indiaData | vaccinationCount : 'vaccination2'}}</div>
          </div>
        </div>
      </div>
      <div class="stateDataWrapper">
        <div class="stateHeaderWrapper" matSort #sort1="matSort" (matSortChange)="sortStateData($event)"
          matSortActive="stateConfirmed" matSortDirection="desc" matSortStart="desc">
          <div matRipple matRippleColor="#87ebac94" mat-sort-header="stateName" class="name header" disableClear>
            State/UT
          </div>
          <div matRipple matRippleColor="#87ebac94" mat-sort-header="stateConfirmed" arrowPosition='before'
            class="confirmed header" disableClear>Confirmed</div>
          <div matRipple matRippleColor="#87ebac94" mat-sort-header="stateActive" arrowPosition='before'
            class="active header" disableClear>Active</div>
          <div matRipple matRippleColor="#87ebac94" mat-sort-header="stateRecovered" arrowPosition='before'
            class="recovered header" disableClear>Recovered</div>
          <div matRipple matRippleColor="#87ebac94" mat-sort-header="stateDeaths" arrowPosition='before'
            class="deaths header" disableClear>Deaths</div>
        </div>
        <ng-container *ngFor="let data of stateData; let i=index">
          <div class="stateWrapper" (click)="toggleDistricts(data.state)">
            <div class="name">{{data.state}}</div>
            <div class="confirmed">
              <div class="confirmedRed">
                <ng-container *ngIf="data.value.delta?.confirmed">
                  <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{data.value.delta?.confirmed |numberFormat}}
                </ng-container>
              </div>
              <div class="confirmedNumber" #animatedDigit>{{data.value.total?.confirmed |numberFormat}}</div>
            </div>
            <div class="active"> {{data.value.total.confirmed - data.value.total.recovered |numberFormat}}</div>
            <div class="recovered">
              <div class="recoveredGreen">
                <ng-container *ngIf="data.value.delta?.recovered">
                  <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{data.value.delta?.recovered |numberFormat}}
                </ng-container>
              </div>
              <div class="recoveredNumber">{{data.value.total.recovered |numberFormat}}</div>
            </div>
            <div class="deaths">
              <div class="deathsGrey">
                <ng-container *ngIf="data.value.delta?.deceased">
                  <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{data.value.delta?.deceased |numberFormat}}
                </ng-container>
              </div>
              <div class="deathsNumber">{{data.value.total?.deceased |numberFormat}}</div>
            </div>
          </div>
          <div class="districtDataWrapper" [hidden]="!hideDistricts[data.state]" matSort #sort2="matSort"
            (matSortChange)="sortDistrictData($event,data.state)" matSortActive="districtConfirmed"
            matSortDirection="desc" matSortStart="desc">
            <div class="moreDetailsWrapper">
              <div (click)="navigateToState(data.state)" class="moreDetails" matRipple matRippleColor="#e5a0a080">
                {{data.state}} details<mat-icon>more_vert</mat-icon>
              </div>
              <div class="lastUpdated">
                <mat-icon class="lastUpdatedIcon">av_timer</mat-icon>{{data.value.meta.last_updated | lastUpdated}}
              </div>
            </div>
            <div class="districtHeaderWrapper">
              <div matRipple matRippleColor="#87ebac94" mat-sort-header="districtName" class="name header" disableClear>
                District
              </div>
              <div matRipple matRippleColor="#87ebac94" mat-sort-header="districtConfirmed" arrowPosition='before'
                class="confirmed header" disableClear>Confirmed</div>
              <div matRipple matRippleColor="#87ebac94" mat-sort-header="districtActive" arrowPosition='before'
                class="active header" disableClear>Active</div>
              <div matRipple matRippleColor="#87ebac94" mat-sort-header="districtRecovered" arrowPosition='before'
                class="recovered header" disableClear>Recovered</div>
              <div matRipple matRippleColor="#87ebac94" mat-sort-header="districtDeceased" arrowPosition='before'
                class="deaths header" disableClear>Deaths</div>
            </div>
            <div class="districtWrapper" *ngFor="let districtdata of data.value.dis">
              <div class="name">{{districtdata.district}}</div>
              <div class="confirmed">
                <ng-container *ngIf="districtdata.value.total?.confirmed">
                  <div class="confirmedRed">
                    <ng-container *ngIf="districtdata.value.delta?.confirmed">
                      <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{districtdata.value.delta?.confirmed
                      |numberFormat}}
                    </ng-container>
                  </div>
                  <div class="confirmedNumber">{{districtdata.value.total?.confirmed |numberFormat}}</div>
                </ng-container>
                <ng-container *ngIf="!districtdata.value.total?.confirmed">
                  <div class="confirmedNumber">-</div>
                </ng-container>
              </div>
              <div class="active">
                <ng-container
                  *ngIf="districtdata.value.total?.confirmed - districtdata.value.total?.recovered as activeDistrict">
                  {{activeDistrict |numberFormat}}
                </ng-container>
                <ng-container *ngIf="!(districtdata.value.total?.confirmed - districtdata.value.total?.recovered)">
                  -
                </ng-container>
              </div>
              <div class="recovered">
                <ng-container *ngIf="districtdata.value.total?.recovered">
                  <div class="recoveredGreen">
                    <ng-container *ngIf="districtdata.value.delta?.recovered">
                      <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{districtdata.value.delta?.recovered
                      |numberFormat}}
                    </ng-container>
                  </div>
                  <div class="recoveredNumber">{{districtdata.value.total?.recovered |numberFormat}}</div>
                </ng-container>
                <ng-container *ngIf="!districtdata.value.total?.recovered">
                  <div class="recoveredNumber">-</div>
                </ng-container>
              </div>
              <div class="deaths">
                <ng-container *ngIf="districtdata.value.total?.deceased">
                  <div class="deathsGrey">
                    <ng-container *ngIf="districtdata.value.delta?.deceased">
                      <mat-icon class="arrowIcon">arrow_upward</mat-icon>{{districtdata.value.delta?.deceased
                      |numberFormat}}
                    </ng-container>
                  </div>
                  <div class="deathsNumber">{{districtdata.value.total?.deceased |numberFormat}}</div>
                </ng-container>
                <ng-container *ngIf="!districtdata.value.total?.deceased">
                  <div class="deathsNumber">-</div>
                </ng-container>
              </div>
            </div>
            <div class="end">End of {{data.state}}</div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>