.container {
  min-height: 100vh;
  background: linear-gradient(to right top, #9fecde, #86dfec);
  display: flex;
  .contentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px;
    overflow-x: auto;
    .covidHeader{
      text-align: center;
    }
    .stateDataWrapper {
      width: 100%;
      z-index: 2;
      .stateWrapper {
        cursor: pointer;
      }
      .stateWrapper,
      .stateHeaderWrapper,
      .districtHeaderWrapper,
      .districtWrapper {
        display: flex;
        margin-bottom: 10px;
        min-width: 600px;
        .name {
          width: 25%;
          position: sticky;
          left: 0;
          background: #a6eff4;
          display: flex;
          z-index: 1;
          align-items: center;
          padding-left: 10px;
        }
        .name,
        .active,
        .recovered,
        .deaths,
        .confirmed {
          margin-right: 15px;
          border-radius: 15px;
          min-height: 48px;
        }
        .active,
        .recovered,
        .deaths,
        .confirmed {
          width: 18.5%;
          background: rgb(255 255 255 / 50%);
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .header {
          background: #a6eff4;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .container {
    .contentWrapper {
      margin: 10px;
    }
  }
}
