/* You can add global styles to this file, and also import other style files */

// html,
// body {
//   height: 100%;
// }
.theme-light{
 --primary: linear-gradient(to right top, #9fecde, #86dfec);
}
.theme-dark{
  --primary: #161625;
}
body {
  margin: 0;
  background-color: var(--primary);
}
@font-face {
  font-family: "Inter";
  src: url(/assets/Fonts/Inter-SemiBold.ttf) format("truetype");
  font-weight: 300;
}
* {
  font-family: "Inter";
  font-size: 14px;
}
