/* You can add global styles to this file, and also import other style files */

// html,
// body {
//   height: 100%;
// }
.theme-light {
  --backgroundColor: linear-gradient(to right top, #9fecde, #86dfec);
  --textColor: black;
  --tableColumnHeader: #a6f4d1;
  --tableRowHeader: #a6eff4;
  --tableRowDetails: #c5f0f4;
  --cardsColor: white;
}
.theme-dark {
  --backgroundColor: #161625;
  --textColor: #d5d5d5;
  --tableColumnHeader: #444475;
  --tableRowHeader: #575773;
  --tableRowDetails: #3e3e52;
  --cardsColor: #3e3e52;
}
body {
  margin: 0;
  background: var(--backgroundColor);
  color: var(--textColor);
}
@font-face {
  font-family: "Inter";
  src: url(/assets/Fonts/Inter-SemiBold.ttf) format("truetype");
  font-weight: 300;
}
* {
  font-family: "Inter";
  font-size: 14px;
}
